# Authing 配置
NEXT_PUBLIC_AUTHING_APP_ID=your_authing_app_id
NEXT_PUBLIC_AUTHING_APP_HOST=https://your_authing_domain.authing.cn
AUTHING_APP_SECRET=your_authing_app_secret

# 分析服务配置（可选）
NEXT_PUBLIC_ANALYTICS_PROVIDER=your_analytics_provider
NEXT_PUBLIC_ANALYTICS_SCRIPT_SRC=your_analytics_script_src
NEXT_PUBLIC_ANALYTICS_SITE_ID=your_analytics_site_id
NEXT_PUBLIC_ANALYTICS_TOKEN=your_analytics_token
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=your_google_analytics_id
