# 在 Authing.js 控制台获取的 【App ID】
NEXT_PUBLIC_AUTHING_APP_ID=your_authing_app_id

# 在 Authing.js 控制台获取的 【App Secret】（设置需要使用 HS256 对称加密，用于验证 JWT 签名）
AUTHING_APP_SECRET=your_authing_app_secret_here

# 在 Authing.js 控制台获取的【认证地址】
AUTHING_APP_HOST=https://your-authing-app-host.com